{% extends 'base_dashboard.html' %}

{% load widget_tweaks %}

{% block title %}Adicionar modulo{% endblock %}

{% block content %}
    
    <div class="container">
        {% include 'messages.html' %}
        <h1 class="text-center my-3">Adicionar modulo</h1>

        <form action="" method="post">
            {%csrf_token%}
            <label class="text-light" for="id_mod_name">{{form.mod_name.label}}</label>
            {% render_field form.mod_name class="form-control" id="id_mod_name" placeholder="Modulo" %}
            <button class="btn btn-success mt-3">Adicionar</button>
        </form>

    </div>
    

{% endblock %}