{% extends 'base.html' %} 

{% load static %}

{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<style>
    .asteriskField {
        display: none;
    }

    body {
      background-image: url("{% static 'images/background-login.jpg' %}");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
    }
</style>
{% endblock %}

{% block title %}IF LEARNING - Login{% endblock %}

{% block content %}

  {% include 'navbar_top.html' %}

  {% include 'messages.html' %}
    
<main class="py-5">

  <div class="login py-3 px-5 mx-auto rounded-3 shadow">
    <h1 class="text-center mb-4">LOGIN</h1>
    <form action="{% url 'accounts:login' %}" method="post">{% csrf_token %}
      {{form|crispy}}
      <div class="text-center mt-5">
          <button id="btn-login" class="btn btn-lg">Acessar</button>
      </div>

      <p class="text-center mt-4"><a href="{% url 'accounts:register' %}">Não possui uma conta? Crie agora</a></p>
    </form>
  </div>

</main>
{% endblock %}
