{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}IF LEARNING - Registro{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<style>
    .asteriskField {
        display: none;
    }

    body {
      background-image: url("{% static 'images/background-login.jpg' %}");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
    }
</style>
{% endblock %}

{% block content %}

{% include 'navbar_top.html' %}

<main class="py-5">

  <div class="login py-3 px-5 mx-auto rounded-3 shadow">

    <h1 class="text-center mb-4">REGISTRO</h1>

    <form action="{% url 'accounts:register' %}" method="post">{% csrf_token %}
      {{form|crispy}}
        <!-- <label for="email">Seu email</label>
        <input type="email" id="email" class="form-control mb-3 form-control-lg rounded-5" placeholder="Login" required>
        
        <label for="password">Sua senha</label>
        <input type="password" id="password" class="form-control mb-3 form-control-lg rounded-5" placeholder="*****" required>
        
        <label for="password_confirm">Confirmar senha</label>
        <input type="password" id="password_confirm" class="form-control form-control-lg rounded-5" placeholder="*****" required> -->

        <div class="text-center mt-5">
            <button id="btn-login" class="btn btn-lg">Acessar</button>
        </div>

        <p class="text-center mt-4"><a href="{% url 'accounts:login' %}">Já possui uma conta? Entre agora</a></p>
    </form>

</div>
</main>


{% endblock %}