{% load static %}

<header id="sidebar">
    {% comment %}
        {% static 'images/people.png' %}
    {% endcomment %}
        <nav>
            <div id="sidebar-options">
                <a href="{% url 'accounts:user.edit' %}" style="text-decoration: none;">
                <div class="option pt-2">
                    <img src="{%if user.photo %} {{user.photo}} {% else %} {% static 'images/people.png' %} {% endif %}" class="profile" alt="profile">
                    <p>Perfil</p>
                </div>
                </a>
                <div class="option">
                    <img src="{% static 'icons/courses.png' %}" class="option-icon" alt="profile">
                    <p>Cursos</p>
                </div>
                <div class="option">
                    <img src="{% static 'icons/books.png' %}" class="option-icon" alt="profile">
                    <p>Meus cursos</p>
                </div>
            </div>
        </nav>
</header>

<button id="arrow" onclick="openCloseSideBar()" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Abrir ou fechar barra de navegação."><img src="{% static 'icons/right-arrow.png' %}" alt=""></button>