{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Adicionar disciplina{% endblock %}

{% block content %}
{% include 'navbar_top.html' %}
    <main class="container">
        {% include 'messages.html' %}
        <h1>Adicionar disciplina</h1>
        <form action="{% url 'disciplines:disciplines-add' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary mt-3">Adicionar</button>
        </form>
    </main>

{% endblock %}