{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Editar disciplina{% endblock %}

{% block content %}
{% include 'navbar.html' %}
    <main class="container">
        {% include 'messages.html' %}
        <h1>Editar disciplina</h1>
        <form action="" method="post">{% csrf_token %}
            {% render_field form.dis_name class="form-control" id="id_dis_name" placeholder="Nome da Disciplina" %}
            <button class="btn btn-primary mt-3">Salvar</button>
        </form>
    </main>

{% endblock %}