{% extends 'base.html' %}

{% block title %}{{my_discipline.dis_name}} - Modulos{% endblock %}

{% block content %}
{% include 'navbar.html' %}
    <main class="container">

    {% include 'messages.html' %}

    <h1 class="text-left text-light">{{my_discipline.dis_name}}</h1>

    <h2 class="text-center text-secondary">MODULOS</h2>

    {% if has_perm_crud %}
        {% if my_discipline.dis_user_created.id == user.id %}
            <a href="{% url 'disciplines:addModule' discipline_id=my_discipline.id %}"><button class="btn btn-success mt-2 mb-3">Adicionar modulo</button></a>
        {% endif %}
    {% endif %}
    

    {% if modules %}
    <div class="row gap-2 mx-auto text-center" id="available-subjects">
        {% for module in modules %}
        <div class="card col-md-5 mt-2 text-bg-dark mb-3">
            {% if has_perm_crud %}
                {% if my_discipline.dis_user_created.id == user.id %}
                    <div class="card-header-module card-header fs-5 text-center">
                        {{ module.mod_name|truncatechars:32 }} <a href="{% url 'disciplines:editModule' discipline_id=my_discipline.id  module_id=module.id %}"><i class="fa-solid fa-pen"></i></a><form action="{% url 'disciplines:removeModule' module_id=module.id %}" method="post">{%csrf_token%}<button><i class="fa-solid fa-trash"></i></button></form>
                    </div>
                {% endif %}
            {% else %}
                <div class="card-header fs-5 text-center">{{ module.mod_name|truncatechars:32 }} <i class="fa-solid fa-trash"></i></div>       
            {% endif %}
            <div class="card-body">
            {% if module.mod_classes.all %}
                <ol>
                {% if my_discipline.dis_user_created.id == user.id %}
                    {% for class in module.mod_classes.all %}
                        <li>
                            <div class="card-header-module">
                                <a href="{% url 'disciplines:showClass' discipline_id=my_discipline.id  module_id=module.id class_id=class.id %}">{{class.cla_name}}</a>
                                <a href="{% url 'disciplines:editClass' discipline_id=my_discipline.id  class_id=class.id %}"><i class="fa-solid fa-pen"></i></a>
                                <form action="{% url 'disciplines:removeClass' discipline_id=my_discipline.id class_id=class.id %}" method="post">{%csrf_token%}<button><i class="fa-solid fa-trash"></i></button></form>
                            </div>
                        </li>
                    {% endfor %}
                {% else %}
                    {% for class in module.mod_classes.all %}
                        <li>
                            <a href="{% url 'disciplines:showClass' discipline_id=my_discipline.id  module_id=module.id class_id=class.id %}">{{class.cla_name}}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                </ol>
            {% else %}
                <p>Ainda não possui nenhuma aula!</p>
            {% endif %}
            </div>
            {% if has_perm_crud %}
            {% if my_discipline.dis_user_created.id == user.id %}
            <div class="card-footer text-muted text-center">
                <form action="{% url 'disciplines:addClass' discipline_id=my_discipline.id module_id=module.id %}" method="get">
                    <button class="btn btn-primary">Adicionar Aula</button>
                </form>
            </div>     
            {% endif %}
            {% endif %}       
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h3 class="text-center">A disciplina não possui modulos ainda</h3>
    {% endif %}

    </main>

{% endblock %}